// --------- Custom Theme ----------
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");

// Colors
$clr-neutral-100: 0 0% 100%;
$clr-neutral-200: 0 0% 50%;
$clr-neutral-900: 0 0% 7%;
$clr-yellow-400: 47 88% 63%;

// Fonts
$ff-sans: "Figtree", sans;
$fs-200: 0.75rem;
$fs-300: 0.875rem;
$fs-400: 1rem;
$fs-500: 1.25rem;
$fw-600: 600;
$fw-800: 800;
